<div class="span12">
	<nav>
		<div class="btn-group">
			<button class="btn btn-small"><</button>
			<button class="btn btn-small">></button>
		</div>
		<button class="btn btn-small btn-success">Valider</button>
		<button class="btn btn-small btn-danger">Invalider</button>
		<button class="btn btn-small btn-info"><i class="icon-comment"></i> Commentaire</button>
		<div class="btn-group">
			<a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="icon-print"></i> Imprimer
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">Complet</a></li>
				<li><a href="#">Client 1</a></li>
			</ul>
		</div>
	</nav>
</div>

