<div class="row-fluid">
	<div class="span2">
		<ul class="nav nav-list nav-pills nav-stacked">
			<li data-ng-class="{active: currentSubSection.name == 'users'}"><a data-ng-click="goToSubSection('users')">Utilisateurs</a></li>
			<li data-ng-class="{active: currentSubSection.name == 'customers'}"><a data-ng-click="goToSubSection('customers')">Clients/Missions</a></li>
			<li data-ng-class="{active: currentSubSection.name == 'user-missions'}"><a data-ng-click="goToSubSection('user-missions')">Affectation de missions</a></li>
		</ul>
	</div>
	<div class="span10">
		<div data-ng-include src="currentSubSection.page"></div>
	</div>
</div>