<div class="calendar" data-ng-init="fetch()">
	<div class="row-fluid toolbar" data-cra-toolbar>
	</div>
	<div class="row-fluid" data-ng-controller="CraMonthCtrl">
		<div class="span12">
			<h5>{{month | monthOfYear | capitalize}} {{year}}</h5>
			<table class="table table-condensed month">
				<thead>
					<tr>
						<th>
							<input type="checkbox" class="pull-left" data-ng-show="!day.inPastOrFuture">
						</th>
						<th>lun.</th>
						<th>mar.</th>
						<th>mer.</th>
						<th>jeu.</th>
						<th>ven.</th>
						<th>sam.</th>
						<th>dim.</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="week in weeks">
						<th>
							<input type="checkbox" class="pull-left" data-ng-show="!day.inPastOrFuture">&nbsp;{{week.number}}
						</th>
						<td data-ng-repeat="day in week.days">
							<table class="day" data-ng-class="{pastOrFuture : day.inPastOrFuture}">
								<tbody>
									<tr class="head" data-ng-class="{saturday: day.isSaturday, sunday: day.isSunday}">
										<td>
											<input type="checkbox" class="pull-left" data-ng-show="!day.inPastOrFuture">
											<span>{{day.date | dayOfMonth}}</span>
											<i class="icon-comment" data-ng-show="day.comment"></i>
											<i class="icon-comment-alt" data-ng-show="!day.comment"></i>
											<i class="icon-trash pull-right" data-ng-show="day.morning || day.afternoon"></i>

										</td>
									</tr>
									<tr>
										<td class="halfday" data-ng-class="day.morning.type">
											{{day.morning.label}}
											<i class="icon-trash pull-right" data-ng-show="day.morning"></i>
											<span data-ng-show="!day.morning">&nbsp;</span>
										</td>
									</tr>
									<tr>
										<td class="halfday" data-ng-class="day.afternoon.type">
											{{day.afternoon.label}}
											<i class="icon-trash pull-right" data-ng-show="day.afternoon"></i>
											<span data-ng-show="!day.afternoon">&nbsp;</span>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row-fluid legend" data-cra-legend>
	</div>
</div>
