<div class="row-fluid">
	<div class="span12">
		<form class="form-horizontal well well-small" data-ng-controller="DayAbsenceCtrl" data-ng-submit="localSave()">
			<fieldset>
				<div class="control-group" data-ng-class="{'error': errors.missionId}">
					<label class="control-label" for="missionId">Motif <i class="icon-mandatory"></i></label>

					<div class="controls">
						<select id="missionId" required="required" data-ng-model="form.missionId" data-ng-options="mission.id as mission.label for mission  in missions">
							<option value=""></option>
						</select>
						<span class="help-block"><em>{{errors.missionId}}</em></span>
					</div>
				</div>
				<div class="control-group" data-ng-class="{'error': errors.date || errors.limits}">
					<label class="control-label" for="date">Date <i class="icon-mandatory"></i></label>

					<div class="controls">
						<input type="text" class="span5" id="date" required="required" data-b-datepicker data-ng-model="form.date">
						<span class="help-block"><em>{{errors.date}}</em></span>
					</div>
					<div class="controls">
						<input type="checkbox" data-ng-model="form.startMorning" data-ng-init="form.startMorning=true"> Matin
						<input type="checkbox" data-ng-model="form.endAfternoon" data-ng-init="form.endAfternoon=true"> Après-midi
						<span class="help-block"><em>{{errors.limits}}</em></span>
					</div>
				</div>
				<div class="control-group" data-ng-class="{'error': errors.comment}">
					<label class="control-label" for="comment">Commentaire</label>

					<div class="controls">
						<textarea id="comment" rows="3" data-ng-model="form.comment"></textarea>
						<span class="help-block"><em>{{errors.comment}}</em></span>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary pull-right">Sauvegarder</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>
