<div class="row-fluid">
	<div class="span12">
		<form class="form-horizontal well well-small" data-ng-controller="PeriodAbsenceCtrl" data-ng-submit="localSave()">
			<fieldset>
				<div class="control-group" data-ng-class="{'error': errors.missionId}">
					<label class="control-label" for="missionId">Motif <i class="icon-mandatory"></i></label>

					<div class="controls">
						<select id="missionId" required="required" data-ng-model="form.missionId" data-ng-options="mission.id as mission.description for mission in missions">
							<option value=""></option>
						</select>
						<span class="help-block"><em>{{errors.missionId}}</em></span>
					</div>
				</div>
				<div class="control-group" data-ng-class="{'error': errors.startDate}">
					<label class="control-label" for="startDate">Début <i class="icon-mandatory"></i></label>

					<div class="controls">
						<input type="text" class="span5" id="startDate" required="required" data-b-datepicker data-ng-model="form.startDate">
						<input type="checkbox" data-ng-model="form.startMorning" data-ng-init="form.startMorning=true"> Matin
						<span class="help-block"><em>{{errors.startDate}}</em></span>
					</div>
				</div>
				<div class="control-group" data-ng-class="{'error': errors.endDate}">
					<label class="control-label" for="endDate">Fin <i class="icon-mandatory"></i></label>

					<div class="controls">
						<input type="text" class="span5" required="required" id="endDate" data-b-datepicker data-ng-model="form.endDate">
						<input type="checkbox" data-ng-model="form.endAfternoon" data-ng-init="form.endAfternoon=true"> Après-midi
						<span class="help-block"><em>{{errors.endDate}}</em></span>
					</div>
				</div>
				<div data-ng-class="{'control-group error': errors.dates}" data-ng-show="errors.dates">
					<label class="control-label">&nbsp;</label>
					<span class="help-block"><em>{{errors.dates}}</em></span>
				</div>
				<div class="control-group" data-ng-class="{'error': errors.comment}">
					<label class="control-label" for="comment">Commentaire</label>

					<div class="controls">
						<textarea id="comment" rows="3" data-ng-model="form.comment"></textarea>
						<span class="help-block"><em>{{errors.comment}}</em></span>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary pull-right">Sauvegarder</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>
