<div class="claim_synthesis" data-ng-init="init()">
	<div class="row-fluid">
		<div class="span8 offset2">
			<h5>Frais du mois de {{month | monthOfYear | capitalize}} {{year}}</h5>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Semaine</th>
						<th data-ng-repeat="week in header">{{week}}</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="claimType in claimTypes">
						<th>{{claimType | typeOfClaim | capitalize}}</th>
						<td data-ng-repeat="mnt in body[claimType]"><span data-ng-show="mnt !=0">{{mnt | currency}}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span8 offset2">
			<button class="pull-right" data-ng-click="goCra()">Fermer</button>
		</div>
	</div>
</div>
