<div class="calendar" data-ng-init="init()">
	<div class="row-fluid toolbar" data-cra-toolbar data-ng-init="initToolbar()">
	</div>
	<div class="row-fluid">
		<div class="span12">
			<h5>{{cra.month | monthOfYear | capitalize}} {{cra.year}}</h5>
			<table class="table table-condensed month">
				<thead>
					<tr>
						<th>
							<input type="checkbox" class="pull-left" value="selectedMonth.name" data-ng-model="selectedMonth.checked" data-ng-checked="selectedMonth.checked">
						</th>
						<th>lun.</th>
						<th>mar.</th>
						<th>mer.</th>
						<th>jeu.</th>
						<th>ven.</th>
						<th>sam.</th>
						<th>dim.</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="week in cra.weeks" data-ng-init="wIndex = $index">
						<th>
							<input type="checkbox" class="pull-left" data-ng-show="!day.inPastOrFuture" value="selectedWeeks[wIndex].number" data-ng-model="selectedWeeks[wIndex].checked" dat
							       a-ng-checked="selectedWeeks[wIndex].checked" data-ng-change="toggleWeek(wIndex)">&nbsp;{{week.number}}
						</th>
						<td data-ng-repeat="day in week.days" data-ng-init="dIndex = (wIndex * 7) + $index">
							<table class="day" data-ng-class="{pastOrFuture : day.inPastOrFuture}">
								<tbody>
									<tr>
										<td colspan="2" class="head" data-ng-class="{saturday: day.isSaturday, sunday: day.isSunday, dayOff: day.isDayOff, pastOrFuture : day.inPastOrFuture}">
											<input type="checkbox" class="pull-left" data-ng-show="!day.inPastOrFuture" value="selectedDays[dIndex].date" data-ng-model="selectedDays[dIndex].checked" dat
											       a-ng-checked="selectedDays[dIndex].checked">
											<span>{{day.date | dayOfMonth}}</span>
											<i class="icon-comment" data-ng-show="day.comment"></i>
											<i class="icon-comment-alt" data-ng-show="!day.comment"></i>
											<i class="icon-trash pull-right" data-ng-show="isDayDeletable(day)" data-ng-click="deleteDay(weekIndex, day.date, $index)"></i>
										</td>
									</tr>
									<tr class="halfday" data-ng-class="class(day.morning)">
										<td  data-ng-click="selectedDays[dIndex].checked = true;openDay()">
											{{day.morning.label || '&nbsp;'}}
										</td>
										<td>
											<i class="icon-trash pull-right" data-ng-show="isHalfDayDeletable(day.morning)" data-ng-click="deleteHalfDay(wIndex, day.date, $index,'morning')"></i>
										</td>
									</tr>
									<tr class="halfday" data-ng-class="class(day.afternoon)">
										<td data-ng-click="selectedDays[dIndex].checked = true;openDay()">
											{{day.afternoon.label || '&nbsp;'}}
										</td>
										<td class="halfday" data-ng-class="class(day.afternoon)">
											<i class="icon-trash pull-right" data-ng-show="isHalfDayDeletable(day.afternoon)" data-ng-click="deleteHalfDay(wIndex, day.date, $index,'afternoon')"></i>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row-fluid legend" data-cra-legend>
	</div>
</div>
