<div class="calendar" data-ng-init="init()">
	<div class="row-fluid toolbar" data-cra-toolbar data-ng-init="initToolbar()">
	</div>
	<div class="row-fluid">
		<div class="span12">
			<h5>{{cra.month | monthOfYear | capitalize}} {{cra.year}}</h5>
			<table class="table table-condensed month">
				<thead>
					<tr>
						<th>
							<input type="checkbox" class="pull-left" data-ng-show="!day.inPastOrFuture">
						</th>
						<th>lun.</th>
						<th>mar.</th>
						<th>mer.</th>
						<th>jeu.</th>
						<th>ven.</th>
						<th>sam.</th>
						<th>dim.</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="week in cra.weeks" data-ng-init="weekIndex = $index">
						<th>
							<i data-cra-check-week></i>{{week.number}}
						</th>
						<td data-ng-repeat="day in week.days">
							<table class="day" data-ng-class="{pastOrFuture : day.inPastOrFuture}">
								<tbody>
									<tr>
										<td colspan="2" class="head" data-ng-class="{saturday: day.isSaturday, sunday: day.isSunday, dayOff: day.isDayOff, pastOrFuture : day.inPastOrFuture, empty: !day.id}">
											<i data-cra-check-day></i>
											<span>{{day.date | dayOfMonth}}</span>
											<i class="icon-comment" data-ng-show="day.comment"></i>
											<i class="icon-comment-alt" data-ng-show="!day.comment"></i>
											<i class="icon-trash pull-right" data-ng-show="day.morning || day.afternoon" data-ng-click="deleteDay(weekIndex, day.date, $index)"></i>
										</td>
									</tr>
									<tr>
										<td class="halfday" data-ng-class="class(day.morning)" data-ng-click="checkDay(day.date);openDay()">
											{{day.morning.label}}
											<span>&nbsp;</span>
										</td>
										<td class="halfday" data-ng-class="class(day.morning)">
											<i class="icon-trash pull-right" data-ng-show="day.morning" data-ng-click="deleteHalfDay(weekIndex, day.date, $index,'morning')"></i>
										</td>
									</tr>
									<tr>
										<td class="halfday" data-ng-class="class(day.afternoon)" data-ng-click="checkDay(day.date);openDay()">
											{{day.afternoon.label}}
											<span>&nbsp;</span>
										</td>
										<td class="halfday" data-ng-class="class(day.afternoon)">
											<i class="icon-trash pull-right" data-ng-show="day.afternoon" data-ng-click="deleteHalfDay(weekIndex, day.date, $index,'afternoon')"></i>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row-fluid legend" data-cra-legend>
	</div>
</div>
