<div class="row-fluid" data-ng-controller="NormalDayCtrl">
	<div class="span4 offset2">
		<form class="form-horizontal well">
			<fieldset>
				<div class="control-group">
					<label class="control-label" for="morning">Matin</label>

					<div class="controls">
						<select id="morning"></select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="afternoon">Après-midi</label>

					<div class="controls">
						<select id="afternoon"></select>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Sauvegarder</button>
					<button type="button" class="btn">Annuler</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>
