<div class="row-fluid">
	<div class="span2">
		<ul class="nav nav-list nav-pills nav-stacked">
			<li data-ng-class="{active: activeSubSection.name == 'general'}"><a data-ng-click="goToSubSection('general')">Général</a></li>
			<li data-ng-class="{active: activeSubSection.name == 'affected-missions'}"><a data-ng-click="goToSubSection('affected-missions')">Mes missions</a></li>
			<li data-ng-class="{active: activeSubSection.name == 'vehicle'}"><a data-ng-click="goToSubSection('vehicle')">Mon véhicule</a></li>
			<li data-ng-class="{active: activeSubSection.name == 'part-time'}"><a data-ng-click="goToSubSection('part-time')">Mon temps partiel</a></li>
		</ul>
	</div>
	<div class="span10">
		<div data-ng-include src="activeSubSection.page"></div>
	</div>
</div>