<div class="row-fluid" data-ng-controller="PartTimeNewCtrl">
    <div class="span5">
        <form class="form-horizontal well well-small" name="newPartTimeForm" data-ng-submit="save()">
            <fieldset>
                <div class="control-group" data-ng-class="{'error': errors.startDate}">
                    <label class="control-label" for="startDate">Date de début <i class="icon-mandatory"></i></label>

                    <div class="controls">
                        <input type="text" class="span5" id="startDate" data-b-datepicker required="required" data-ng-model="form.startDate">
                        <span class="help-block"><em>{{errors.startDate}}</em></span>
                    </div>
                </div>
                <div class="control-group" data-ng-class="{'error': errors.endDate}">
                    <label class="control-label" for="endDate">Date de fin</label>

                    <div class="controls">
                        <input type="text" class="span5" id="endDate" data-b-datepicker data-ng-model="form.endDate">
                        <span class="help-block"><em>{{errors.endDate}}</em></span>
                    </div>
                </div>
                <hr>
                <div class="control-group" data-ng-class="{'error': errors.daysOfWeek}">
                    <label class="control-label" for="monday">Lundi</label>

                    <div class="controls">
                        <select class="span8" id="monday" data-ng-model="monday" data-ng-change="toggleDay(1, monday)" data-ng-options="dm.label for dm in dayMoments">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="control-group" data-ng-class="{'error': errors.daysOfWeek}">
                    <label class="control-label" for="tuesday">Mardi</label>

                    <div class="controls">
                        <select class="span8" id="tuesday" data-ng-model="tuesday" data-ng-change="toggleDay(1, tuesday)" data-ng-options="dm.label for dm in dayMoments">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="control-group" data-ng-class="{'error': errors.daysOfWeek}">
                    <label class="control-label" for="wednesday">Mercredi</label>

                    <div class="controls">
                        <select class="span8" id="wednesday" data-ng-model="wednesday" data-ng-change="toggleDay(1, wednesday)" data-ng-options="dm.label for dm in dayMoments">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="control-group" data-ng-class="{'error': errors.daysOfWeek}">
                    <label class="control-label" for="thursday">Jeudi</label>

                    <div class="controls">
                        <select class="span8" id="thursday" data-ng-model="thursday" data-ng-change="toggleDay(1, thursday)" data-ng-options="dm.label for dm in dayMoments">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="control-group" data-ng-class="{'error': errors.daysOfWeek}">
                    <label class="control-label" for="friday">Vendredi</label>

                    <div class="controls">
                        <select class="span8" id="friday" data-ng-model="friday" data-ng-change="toggleDay(1, friday)" data-ng-options="dm.label for dm in dayMoments">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div data-ng-class="{'control-group error': errors.daysOfWeek}">
                    <span class="help-block"><em>{{errors.daysOfWeek}}</em></span>
                </div>
                <hr>
                <div class="control-group" data-ng-class="{'error': errors.frequency}">
                    <label class="control-label" for="frequency">Toutes les <i class="icon-mandatory"> <em class="hidden-desktop">(en semaine)</em> </i></label>

                    <div class="controls">
                        <div class="span6 input-append">
                            <select class="span4" id="frequency" data-ng-model="form.frequency">
                                <option value=""></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <span class="add-on hidden-phone hidden-tablet">semaine(s)</span>
                        </div>
                    </div>
                    <span class="help-block"><em>{{errors.frequency}}</em></span>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary pull-right">Sauvegarder</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="span5" data-ng-init="loadActive()">
        <div class="alert alert-block alert-info" data-ng-switch on="_.isEmpty(activePartTime)">
            <div class="row-fluid" data-ng-switch-when="false">
                <div class="span12">
                    <span>Votre Temps Partiel est actuellement :</span>

                    <div class="row-fluid" data-ng-repeat="pt in activePartTime">
                        <div class="span10">
                            <ul>
                                <li>A partir du <strong>{{pt.startDate | date:'dd/MM/yyyy'}}</strong>,
                                    <span data-ng-show="pt.endDate">jusqu'à {{pt.endDate | date:'dd/MM/yyyy'}}.</span>
                                    <span data-ng-hide="pt.endDate">sans date de fin.</span>
                                    <ul>
                                        <li>le {{pt.dayOfWeek | dayOfWeek}} ({{pt.momentOfDay | momentOfDay}}),<br></li>
                                        <li>toutes les {{pt.frequency}} semaine(s).</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="span2">
                            <button class="btn btn-small btn-danger icon-trash" data-ng-click="deactivate(pt.id)"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid" data-ng-switch-default="">
                <div class="span12">
                    <span>Vous n'avez pas défini de temps partiel.</span>
                </div>
            </div>
        </div>
    </div>
</div>
