<div class="row-fluid" data-ng-controller="PartTimeNewCtrl">
	<div class="span5">
		<form class="well well-small" name="newPartTimeForm" data-ng-submit="save()">
			<fieldset>
				<div class="row-fluid">
					<div class="span4">
						<span>Date de début <i class="icon-mandatory"></i></span>
					</div>
					<div class="span8">
						<input type="text" class="span5" id="startDate" data-b-datepicker required="required" data-ng-model="form.startDate">
					</div>
				</div>
				<div class="row-fluid">
					<div class="span4">
						<span>Date de fin</span>
					</div>
					<div class="span8">
						<input type="text" class="span5" id="endDate" data-b-datepicker data-ng-model="form.endDate">
					</div>
				</div>
				<div class="well">
					<div class="row-fluid">
						<div class="span4">
							<span>Lundi</span>
						</div>
						<div class="span6">
							<select class="span8" data-ng-model="monday" data-ng-change="toggleDay(1, monday)" data-ng-options="dm.label for dm in dayMoments">
								<option value=""></option>
							</select>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span4">
							<span>Mardi</span>
						</div>
						<div class="span6">
							<select class="span8" data-ng-model="tuesday" data-ng-change="toggleDay(2, tuesday)" data-ng-options="dm.label for dm in dayMoments">
								<option value=""></option>
							</select>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span4">
							<span>Mercredi</span>
						</div>
						<div class="span6">
							<select class="span8" data-ng-model="wednesday" data-ng-change="toggleDay(3, wednesday)" data-ng-options="dm.label for dm in dayMoments">
								<option value=""></option>
							</select>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span4">
							<span>Jeudi</span>
						</div>
						<div class="span6">
							<select class="span8" data-ng-model="thursday" data-ng-change="toggleDay(4, thursday)" data-ng-options="dm.label for dm in dayMoments">
								<option value=""></option>
							</select>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span4">
							<span>Vendredi</span>
						</div>
						<div class="span6">
							<select class="span8" data-ng-model="friday" data-ng-change="toggleDay(5, friday)" data-ng-options="dm.label for dm in dayMoments">
								<option value=""></option>
							</select>
						</div>
					</div>

				</div>
				<div class="row-fluid">
					<div class="span4">
                        <span>Toutes les <i class="icon-mandatory"> <em class="hidden-desktop">(en semaine)</em>
                        </i></span>
					</div>
					<div class="span6 input-append">
						<select class="span4" id="frequency" required="required" data-ng-model="form.frequency">
							<option value=""></option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
						<span class="add-on hidden-phone hidden-tablet">semaine(s)</span>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary pull-right">Sauvegarder</button>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="span5" data-ng-init="loadActive()">
		<div class="alert alert-block alert-info" data-ng-switch on="_.isEmpty(activePartTime)">
			<div class="row-fluid" data-ng-switch-when="false">
				<div class="span12">
					<span>Votre Temps Partiel est actuellement :</span>

					<div class="row-fluid" data-ng-repeat="pt in activePartTime">
						<div class="span9">
							<ul>
								<li>A partir du <strong>{{pt.startDate | date:'dd/MM/yyyy'}}</strong>,
									<span data-ng-show="pt.endDate">jusqu'à {{pt.endDate | date:'dd/MM/yyyy'}}.</span>
									<span data-ng-hide="pt.endDate">sans date de fin.</span>
									<ul>
										<li>le {{pt.dayOfWeek | dayOfWeek}} ({{pt.momentOfDay | momentOfDay}}),<br></li>
										<li>toutes les {{pt.frequency}} semaine(s).</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="span3">
							<button class="btn btn-mini btn-danger icon-trash" data-ng-click="deactivate(pt.id)"></button>
						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid" data-ng-switch-default="">
				<div class="span12">
					<span>Vous n'avez pas de temps partiel de défini.</span>
				</div>
			</div>
		</div>
	</div>
</div>
