<div class="row-fluid" data-ng-controller="VehicleCtrl">
	<div class="span5">
		<div class="row-fluid">
			<div class="offset1">
				<ul class="nav nav-pills">
					<li data-ng-class="{'active': vehicleType == 'car'}">
						<a data-ng-click="toggleVehicleType('car')">Voiture</a>
					</li>
					<li data-ng-class="{'active': vehicleType == 'motorcycle'}">
						<a data-ng-click="toggleVehicleType('motorcycle')">Moto</a>
					</li>
				</ul>
			</div>
		</div>
		<form class="form-horizontal well well-small" data-ng-submit="save()">
			<div class="control-group" data-ng-class="{'error': errors.power}">
				<label class="control-label" for="power">Puissance fiscale / Cylindrée <i class="icon-mandatory"></i></label>

				<div class="controls">
					<select class="span4" id="power" data-ng-model="form.power" required="required" data-ng-options="power.code as power.label for power in powers">
						<option value=""></option>
					</select>
					<span class="help-block"><em>{{errors.power}}</em></span>
				</div>
			</div>
			<div class="control-group" data-ng-class="{'error': errors.brand}">
				<label class="control-label" for="brand">Marque <i class="icon-mandatory"></i></label>

				<div class="controls">
					<select class="span5" id="brand" data-ng-model="form.brand" required="required" data-ng-options="brand.code as brand.label for brand in brands">
						<option value=""></option>
					</select>
					<span class="help-block"><em>{{errors.brand}}</em></span>
				</div>
			</div>
			<div class="control-group" data-ng-class="{'error': errors.matriculation}">
				<label class="control-label" for="matriculation">Immatriculation <i class="icon-mandatory"></i></label>

				<div class="controls">
					<input type="text" class="span4" id="matriculation" data-ng-model="form.matriculation" required="required">
					<span class="help-block"><em>{{errors.matriculation}}</em></span>
				</div>
			</div>
			<div class="control-group" data-ng-class="{'error': errors.month, 'error': errors.year, 'error': errors.validityDate}">
				<label class="control-label" >Date de validité<i class="icon-mandatory"></i></label>

				<div class="controls">
					<select class="span5" data-ng-model="form.month" required="required" data-ng-options="month.code as month.label for month in months">
						<option value=""></option>
					</select>
					<select class="span3" data-ng-model="form.year" required="required" data-ng-options="year.code as year.label for year in years">
						<option value=""></option>
					</select>

					<div data-ng-class="{'control-group error': errors.month}">
						<span class="help-block"><em>{{errors.month}}</em></span>
					</div>
					<div data-ng-class="{'control-group error': errors.year}">
						<span class="help-block"><em>{{errors.year}}</em></span>
					</div>
					<div data-ng-class="{'control-group error': errors.validityDate}">
						<span class="help-block"><em>{{errors.validityDate}}</em></span>
					</div>
				</div>
			</div>
			<div data-ng-class="{'control-group error': errors.global}">
				<span class="help-block"><em>{{errors.global}}</em></span>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary pull-right">Sauvegarder</button>
			</div>
		</form>
	</div>
	<div class="span5">
		<div class="alert alert-block alert-info" data-ng-init="loadActive()" data-ng-switch on="_.isEmpty(activeVehicle)">
			<div class="row-fluid" data-ng-switch-when="false">
				<div class="span11">
					<p>
						Votre véhicule est actuellement
						une <strong>{{activeVehicle.vehicleType | vehicleType}}</strong> depuis <strong>{{activeVehicle.month | monthOfYear | capitalize}} {{activeVehicle.year}}</strong>
					</p>
					<ul>
						<li>Puissance fiscale/cylindrée : {{activeVehicle.power | vehiclePower:activeVehicle.vehicleType}}</li>
						<li>Immatriculation : {{activeVehicle.matriculation}}</li>
						<li>Marque : {{activeVehicle.brand | vehicleBrand | capitalize}}</li>
					</ul>
				</div>
				<div class="span1">
					<button class="btn btn-small btn-danger icon-trash" data-ng-click="deactivate(activeVehicle.id)"></button>
				</div>
			</div>
			<div class="row-fluid" data-ng-switch-default="">
				<div class="span12">
					<span>Vous n'avez pas défini de Véhicule.</span>
				</div>
			</div>
		</div>
	</div>
</div>
