<div class="row-fluid" data-ng-controller="VehicleCtrl">
	<div class="span5">
		<div class="row-fluid">
			<div class="offset1">
				<ul class="nav nav-pills">
					<li data-ng-class="{'active': vehicleType == 'car'}">
						<a data-ng-click="toggleVehicleType('car')">Voiture</a>
					</li>
					<li data-ng-class="{'active': vehicleType == 'motorcycle'}">
						<a data-ng-click="toggleVehicleType('motorcycle')">Moto</a>
					</li>
				</ul>
			</div>
		</div>
		<form class="well well-small" data-ng-submit="save()">
			<label>Puissance fiscale / Cylindrée <i class="icon-mandatory"></i></label>
			<select class="span4" data-ng-model="form.power" required="required" data-ng-options="power.code as power.label for power in powers">
				<option value=""></option>
			</select>
			<label>Marque <i class="icon-mandatory"></i></label>
			<select class="span5" data-ng-model="form.brand" required="required" data-ng-options="brand.code as brand.label for brand in brands">
				<option value=""></option>
			</select>
			<label>Immatriculation <i class="icon-mandatory"></i></label>
			<input type="text" class="span4" data-ng-model="form.matriculation" required="required">
			<label>Date d'acquisition<i class="icon-mandatory"></i></label>
			<input type="text" class="span4" data-ng-model="form.startDate" data-b-datepicker required="required">

			<div class="form-actions">
				<button type="submit" class="btn btn-primary pull-right">Sauvegarder</button>
			</div>
		</form>
	</div>
	<div class="span5">
		<div class="alert alert-block alert-info" data-ng-init="loadActive()" data-ng-switch on="_.isEmpty(activeVehicle)">
			<div class="row-fluid" data-ng-switch-when="false">
				<div class="span11">
					<p>
						Votre véhicule est actuellement
						une <strong>{{activeVehicle.vehicleType | vehicleType}}</strong> depuis le {{activeVehicle.startDate | date}}
					</p>
					<ul>
						<li>Puissance fiscale/cylindrée : {{activeVehicle.power | vehiclePower:activeVehicle.vehicleType}}</li>
						<li>Immatriculation : {{activeVehicle.matriculation}}</li>
						<li>Marque : {{activeVehicle.brand | vehicleBrand | capitalize}}</li>
					</ul>
				</div>
				<div class="span1">
					<button class="btn btn-small btn-danger icon-trash" data-ng-click="deactivate(activeVehicle.id)"></button>
				</div>
			</div>
			<div class="row-fluid" data-ng-switch-default="">
				<div class="span12">
					<span>Vous n'avez pas defini de Véhicule.</span>
				</div>
			</div>
		</div>
	</div>
</div>
