<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex, nofollow">
<link rel="author" type="text/plain" href="/humans.txt"/>
<title>Genesis - CRA</title>
<!--[if lt IE 8]>
	<script >
		window.location.href="@routes.HtmlPages.unsupportedBrowser ";
</script>
<![endif]-->
<link rel="stylesheet" type="text/css" media="all" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css">
<link rel="stylesheet" type="text/css" media="all" href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
<link rel="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.0.2/css/bootstrap-datepicker.min.css">

<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("stylesheets/main.min.css")"/>
<link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("images/favicon.ico")">
<!--[if lt IE 9]>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
<![endif]-->
</head>
