<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex, nofollow">
<link rel="author" type="text/plain" href="/humans.txt"/>
<title>Genesis - CRA</title>
<!--[if lt IE 8]>
	<script >
		window.location.href="@routes.HtmlPages.unsupportedBrowser ";
</script>
<![endif]-->
@*
<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("stylesheets/vendors/bootstrap-2.3.0/bootstrap.min.css")"/>
<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("stylesheets/vendors/bootstrap-2.3.0/responsive.min.css")"/>
*@
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("stylesheets/vendors/datepicker-20130124.min.css")"/>
<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("stylesheets/main.min.css")"/>
<link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("images/favicon.ico")">
</head>
