@(handler: be.objectify.deadbolt.scala.DeadboltHandler)(implicit request: play.api.mvc.Request[Any])

@import be.objectify.deadbolt.core.utils.TemplateUtils.as
@import be.objectify.deadbolt.scala.views.html.restrict
@import be.objectify.deadbolt.scala.views.html.subjectPresent
@import security.SecurityRole

@subjectPresent(handler) {
	<nav>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="brand" data-ng-href="#/">Genesis</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="">
								<a data-ng-href="#/cra">CRA</a>
							</li>
							<li class="">
								<a data-ng-href="#/absence">Absences</a>
							</li>
							<li class="">
								<a data-ng-href="#/claim">Note de frais</a>
							</li>
							@restrict(handler, scala.collection.immutable.List(as(SecurityRole.production),as(SecurityRole.administrator))) {
								<li class="">
									<a data-ng-href="#/remuneration">Rémunération</a>
								</li>
							}
						</ul>
						<ul class="nav pull-right">
							@restrict(handler, scala.collection.immutable.List(as(SecurityRole.production),as(SecurityRole.administrator))) {
								<li class="">
									<a data-ng-href="#/parameter">Paramétrage</a>
								</li>
							}
							@restrict(handler, scala.collection.immutable.List(as(SecurityRole.administrator))) {
								<li class="">
									<a data-ng-href="#/backoffice">Backoffice</a>
								</li>
							}
							<li class="active">
								<a data-ng-href="#/my-account" title="Mon compte">
									<i class="icon-user"></i><span class="visible-phone">&nbsp;</span>
								</a>
							</li>
							<li>
								<a data-ng-href="@routes.Authentication.logout()" title="Se déconnecter">
									<i class="icon-signout"></i><span class="visible-phone">&nbsp;</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
}
