@(handler: be.objectify.deadbolt.scala.DeadboltHandler)(implicit request: play.api.mvc.Request[Any])

@import be.objectify.deadbolt.core.utils.TemplateUtils.as
@import be.objectify.deadbolt.scala.views.html.{restrictOr, subjectPresent}
@import security.SecurityRole

@defining(
    play.Play.isProd match {
        case true => ".min.js"
        case false => ".js"
    }
) { extension =>
    @* jQuery *@
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery@extension"></script>
    @* JS router *@
    <script type="text/javascript" src="@routes.JsRouter.javascriptRoutes"></script>
    @* lodash *@
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/1.0.1/lodash.compat@extension"></script>
    @* underscore string *@
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.0/underscore.string.min.js"></script>
    @* moment *@
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment@extension"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/lang/fr.js"></script>
    @* bootstrap *@
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap@extension"></script>
    @* datepicker *@
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.0.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.0.0/js/locales/bootstrap-datepicker.fr.js"></script>
    @* angularjs *@
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.3/angular@extension"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.3/angular-resource@extension"></script>
    @* angularjs local *@
    <script type="text/javascript" type="text/javascript" src="@routes.Assets.at("javascripts/vendors/angular-locale_fr-fr-1.1.3.js")"></script>
}

@if(play.Play.isProd){
    <script type="text/javascript" src="@routes.Assets.at("javascripts/cra-v2.min.js")"></script>
} else {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/app.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/constants.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/router.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/controllers/absence/AbsenceCtrl.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/controllers/absence/DayAbsenceCtrl.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/controllers/absence/PeriodAbsenceCtrl.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/controllers/back-office/BackOfficeCtrl.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/controllers/claim/ClaimCtrl.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/controllers/cra/CraCtrl.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/controllers/cra/CraToolbarCtrl.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/controllers/cra/DayCtrl.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/controllers/cra/NormalDayCtrl.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/controllers/cra/SpecialDayCtrl.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/controllers/account/MyAccountCtrl.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/controllers/account/PartTimeCtrl.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/controllers/account/VehicleCtrl.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/controllers/parameter/ParameterCtrl.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/controllers/remuneration/RemunerationCtrl.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/services/AccountRes.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/services/ManagerRes.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/services/UserRes.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/directives/bDatepickerDirective.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/directives/cra/legendDirective.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/directives/cra/toolbarDirective.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/filters/dayOfWeekFilter.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/filters/momentOfDayFilter.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/filters/dayOfMonthFilter.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/filters/monthOfYearFilter.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/filters/capitalizeFilter.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/filters/localTimeFilter.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app/filters/kilometerFilter.js")"></script>
}
