<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex, nofollow">
<title>Genesis - CRA</title>
<link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("images/favicon.ico")">
</head>
<body>
<p>
    Votre navigateur n'est pas pris en charge par l'application.<br>
    Merci de le mettre à jour<br>
    Vous en trouverez en suivant ce <a href="http://browsehappy.com/">lien</a>
</p>
</body>
</html>
