<div class="row-fluid">
	<div class="span8 offset2 scrollable">
		<h5>2.0.41 (19/06/2013)</h5>
		<ul>
			<li>Absence
				<ul>
					<li>#131 : Erreur lors de la suppression d'un frais.</li>
				</ul>
			</li>
			<li>Backoffice/Utilisateurs
				<ul>
					<li>Correction message "Utilisateur sauvegérdé".</li>
					<li>Correction : Après sauvegarde d'un user, celui-ci n'est pas dans la liste des users.</li>
				</ul>
			</li>
			<li>Backoffice/Affectation Missions
				<ul>
					<li>Correction : Remplacement de "Forfait de séjour" par "Montant forfaitaire"</li>
					<li>Suppression du bouton supprimer</li>
					<li>Blindage dans la création des missions utilisateurs</li>
				</ul>
			</li>
			<li>Backoffice/Clients
				<ul>
					<li>Correction : Remplacement de "Clients" par "Clients/Missions"</li>
					<li>Correction : Positionner ce sous-menu entre Utilisteurs et Affectation missions</li>
				</ul>
			</li>
			<li>CRA
				<ul>
					<li>Correction : CRA MHM de Juin</li>
				</ul>
			</li>
		</ul>
		<h5>2.0.40 (17/06/2013)</h5>
		<ul>
			<li>Corrections
				<ul>
					<li>Correction création des missions Client via l'interface d'administration</li>
				</ul>
			</li>
		</ul>
		<h5>2.0.39 (15/06/2013)</h5>
		<ul>
			<li>Corrections
				<ul>
					<li>Sécurisation import des missions</li>
				</ul>
			</li>
		</ul>
		<h5>2.0.38 (15/06/2013)</h5>
		<ul>
			<li>Corrections
				<ul>
					<li>Sécurisation import des missions</li>
				</ul>
			</li>
		</ul>
		<h5>2.0.37 (15/06/2013)</h5>
		<ul>
			<li>Corrections
				<ul>
					<li>#136</li>
					<li>#137</li>
				</ul>
			</li>
			<li>Evolutions
				<ul>
					<li>#133</li>
					<li>#134</li>
					<li>#135</li>
				</ul>
			</li>
		</ul>
		<h5>2.0.36 (02/06/2013)</h5>
		<ul>
			<li>Vehicule
				<ul>
					<li>Correction #115</li>
					<li>Correction #127</li>
				</ul>
			</li>
			<li>Temps partiel
				<ul>
					<li>Correction #116</li>
					<li>Correction #117</li>
				</ul>
			</li>
			<li>Frais
				<ul>
					<li>Correction #130</li>
				</ul>
			</li>
			<li>Cra
				<ul>
					<li>Correction #132</li>
				</ul>
			</li>
		</ul>
		<h5>2.0.34 (08/05/2013)</h5>
		<ul>
			<li>Absence / Mail généré
				<ul>
					<li>Correction #123</li>
				</ul>
			</li>
			<li>Absence
				<ul>
					<li>Correction #122</li>
				</ul>
			</li>
			<li>Frais
				<ul>
					<li>Ajout des types de frais manquants</li>
				</ul>
			</li>
		</ul>
		<h5>2.0.33 (05/05/2013)</h5>
		<ul>
			<li>Export CRA
				<ul>
					<li>Correction export lorsque le Mois ne commence pas un Lundi (#112 & #113)</li>
				</ul>
			</li>
			<li>Mail CRA
				<ul>
					<li>Correction du nom du mois en Anglais => Français dans le corps du mail</li>
				</ul>
			</li>
			<li>Mail
				<ul>
					<li>Correction des caractères accentué dans l'objet des mails (#114)</li>
				</ul>
			</li>
		</ul>
		<hr>
		<h5>2.0.32 (01/05/2013)</h5>
		<ul>
			<li>Global
				<ul>
					<li>Uniformisation des noms de fichiers (absence, CRA)</li>
				</ul>
			</li>
		</ul>
		<hr>
		<h5>2.0.31 (01/05/2013)</h5>
		<ul>
			<li>Export CRA
				<ul>
					<li>Modifications Export CRA Production</li>
				</ul>
			</li>
		</ul>
		<hr>
		<h5>2.0.30 (27/04/2013)</h5>
		<ul>
			<li>Export CRA
				<ul>
					<li>Correction : Ajout des données manquantes dans les lignes des compteurs de jours</li>
					<li>Correction : Mise en français des Mois</li>
					<li>Correction : Ajout des unité jour(j), heure(h)</li>
					<li>Amélioration lisibilité : Modification couleur de fond Autre Client(AC) pour CRA Agence</li>
					<li>Renommage Frais fixe en Frais de séjour</li>
					<li>Correction : Frais kilométrique<strong>s</strong></li>
					<li>Correction : Filtrage des commentaires journées dans le CRA Agence</li>
					<li>Correction : Détail des frais => correction du montant dans le cas des Frais kilométriques</li>
					<li>Ajout Paramètre de véhicule et montant du forfait de zone dans la synthèse des frais</li>
					<li>Ajout détail de calcul dans la synthèse des frais</li>
					<li>Ajout pied de page</li>
				</ul>
			</li>
			<li>Frais
				<ul>
					<li>Renommage Frais fixe en Frais de séjour</li>
					<li>Correction Frais kilométrique<strong>s</strong></li>
				</ul>
			</li>
			<li>Absence
				<ul>
					<li>Ajout pied de page dans les éditions</li>
				</ul>
			</li>
		</ul>
		<hr>
	</div>
</div>
