<div class="row-fluid">
	<div class="span8 offset2 scrollable">
		<h5>2.0.11 (23/03/2013)</h5>
		<ul>
			<li><h6>Cra</h6>
				<ul>
					<li>Affichage synthèse des frais depuis le CRA</li>
					<li>Activation des boutons Précédent & Suivant</li>
				</ul>
			</li>
			<li><h6>Frais</h6>
				<ul>
					<li>Calcul des indemintés de mission</li>
				</ul>
			</li>
			<li><h6>Page Profil/Véhicule</h6>
				<ul>
					<li>Correction #4</li>
					<li>Correction #28</li>
					<li>Correction #30</li>
					<li>Correction #34</li>
				</ul>
			</li>
		</ul>
		<hr>
		<h5>2.0.10 (20/03/2013)</h5>
        <ul>
            <li><h6>Mon compte/Temps partiel</h6>
                <ul>
                    <li>Correction contrôle de saisie obligatoire</li>
                </ul>
            </li>
        </ul>
        <hr>
        <h5>2.0.9 (20/03/2013)</h5>
        <ul>
            <li><h6>Note de frais</h6>
                <ul>
                    <li>Ajout confirmation de suppression d'une note de frais</li>
                </ul>
            </li>
        </ul>
        <hr>
        <h5>2.0.8 (20/03/2013)</h5>
        <ul>
            <li><h6>Mon compte/Temps partiel</h6>
                <ul>
                    <li>Ajout contrôle de saisie obligatoire</li>
                </ul>
            </li>
        </ul>
        <hr>
		<h5>2.0.7 (18/03/2013)</h5>
		<ul>
			<li><h6>Mon compte/Temps partiel</h6>
				<ul>
					<li>Désactivation temps partiel</li>
					<li>Indication si pas de temps partiel de défini</li>
				</ul>
			</li>
			<li><h6>Mon compte/Véhicule</h6>
				<ul>
					<li>Désactivation véhicule</li>
					<li>Indication si pas de véhicule de défini</li>
				</ul>
			</li>
		</ul>
		<hr>
		<h5>2.0.6 (17/03/2013)</h5>
		<ul>
			<li><h6>Mon compte/Temps partiel</h6>
				<ul>
					<li>Saisie</li>
					<li>Affichage du TP courant</li>
				</ul>
			</li>
			<li><h6>Mon compte/Véhicule</h6>
				<ul>
					<li>Affichage du vehcile courant</li>
				</ul>
			</li>
		</ul>
		<hr>
		<h5>2.0.5 (11/03/2013)</h5>
		<ul>
			<li><h6>Global</h6>
				<ul>
					<li>ajout changelog</li>
				</ul>
			<li><h6>Mon compte/Véhicule</h6>
				<ul>
					<li>Ajout message de sauvegarde</li>
					<li>Renommage label "Date" en "Date acquisition" => historisation des vehicules (à faire)</li>
				</ul>
			</li>
			<li><h6>Mon compte/Général</h6>
				<ul>
					<li>Ajout contrainte de validation + Message de sauvegarde.</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
