<div class="row-fluid">
    <div class="span8 offset2 scrollable">
        <h5>2.0.47 (08/08/2013)</h5>
        <ul>
            <li>Frais
                <ul>
                    <li>Correction de l'erreur dans le cas des mois dont le 1er jour est "supérieur" au jour de fin</li>
                </ul>
            </li>
            <li>Administration
                <ul>
                    <li>Réinitilisation du mot de passe d'un utilisateur</li>
                </ul>
            </li>
        </ul>
        <hr>
        <h5>2.0.46 (06/08/2013)</h5>
        <ul>
            <li>Absence
                <ul>
                    <li>Suppression du contôle de date lors de la saisie dans le passé</li>
                </ul>
            </li>
            <li>Mes missions
                <ul>
                    <li>Affichage du montant du forfait de zone dans le cas d'un forfait de zone</li>
                </ul>
            </li>
            <li>Missions
                <ul>
                    <li>Ajout missions suivantes
                        <ul>
                            <li>TIA pour la DUP</li>
                            <li>TIR pour la DUP</li>
                            <li>CHSCT</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <hr>
        <h5>2.0.45 (07/07/2013)</h5>
        <ul>
            <li>Mon compte
                <ul>
                    <li>Correction de l'affichage des missions</li>
                </ul>
            </li>
        </ul>
        <hr>
        <h5>2.0.44 (07/07/2013)</h5>
        <ul>
            <li>Corrections
                <ul>
                    <li>#145 - Erreur lors de la saisie d'activité (AV, TI, formation) pour un nouveal utilisateur</li>
                    <li>#138, #142, #143, #144 - Erreur dans la date de génération des PDF</li>
                    <li>#146, #147 - Erreur dans la période affiché si le CRA n'est pas celui du mois en cours</li>
                </ul>
            </li>
            <li>Saisie activité
                <ul>
                    <li>#139 - Ajout nom du client an plus du nom de la mission</li>
                </ul>
            </li>
        </ul>
        <hr>
        <h5>2.0.43 (29/06/2013)</h5>
        <ul>
            <li>Corrections
                <ul>
                    <li>Calcul des Frais dans le CRA Production</li>
                </ul>
            </li>
            <li>Mon compte
                <ul>
                    <li>Mes missions</li>
                </ul>
            </li>
        </ul>
        <hr>
        <h5>2.0.42 (22/06/2013)</h5>
        <ul>
            <li>Corrections
                <ul>
                    <li>Calcul des Frais dans le CRA Production</li>
                    <li>Génération du CRA sans mission cliente</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
