<div class="claim_synthesis" data-ng-controller="ClaimSynthesisCtrl">
    <div class="row-fluid">
        <div class="span10 offset2">
            <h6>Frais du mois de {{month}}/{{year}}</h6>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th data-ng-repeat="week in weeks">{{week.number}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="claim in claims">
                        <td data-ng-repeat="week in claim.week">{{claim.amount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>