<div class="span1">
	<button class="btn btn-small btn-info">Légende</button>
</div>
<div class="span11 hide" id="text">
	<div class="row-fluid">
		<div class="span1">
			<span class="customer pull-right badge">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		</div>
		<div class="span3 text">
			<ul>
				<li>client/mission</li>
			</ul>
		</div>
		<div class="span1">
			<span class="pre-sale pull-right badge">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		</div>
		<div class="span3 text">
			<ul>
				<li>Avant vente (AV)</li>
				<li>Référent / Consultant (AV)</li>
			</ul>
		</div>
		<div class="span1">
			<span class="special pull-right badge">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		</div>
		<div class="span3 text">
			<ul>
				<li>Heures complémentaires (SPECIAL)</li>
			</ul>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span1">
			<span class="holiday pull-right badge">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		</div>
		<div class="span3 text">
			<ul>
				<li>Congé payé (CP)</li>
				<li>RTT Salarié (RTTS)</li>
				<li>RTT Employeur (RTTE)</li>
				<li>Absence exceptionnelle (AE)</li>
			</ul>
		</div>
		<div class="span1">
			<span class="not-paid pull-right badge">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		</div>
		<div class="span3 text">
			<ul>
				<li>Temps partiel (TP)</li>
				<li>Congé sans solde (CSS)</li>
				<li>Maladie/Maternité (MM)</li>
			</ul>
		</div>
		<div class="span1">
			<span class="internal-work pull-right badge">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		</div>
		<div class="span3 text">
			<ul>
				<li>Travaux internes (TI)</li>
				<li>Formation (F)</li>
				<li>Inter-contrat (IC)</li>
			</ul>
		</div>
	</div>
</div>
