<div class="span12">
	<nav>
		<div class="btn-group">
			<button class="btn btn-small" title="Mois précédent" data-ng-click="previous()"><</button>
			<button class="btn btn-small" title="Mois suivant" data-ng-click="next()">></button>
		</div>
		<button class="btn btn-small btn-success" data-ng-show="!cra.isValidated && cra.id" data-ng-click="validate()">Valider</button>
		<button class="btn btn-small btn-danger" data-ng-show="cra.isValidated" data-ng-click="invalidate()">Invalider</button>
		<button disabled="disabled" class="btn btn-small" data-ng-class="{'btn-info' : cra.comment}"><i class="icon-comment"></i> Commentaire</button>
		<button class="btn btn-small" data-ng-click="claimSynthesis()"><i class="icon-money"></i> Frais</button>
		<div disabled="disabled" class="btn-group">
			<a class="btn btn-small dropdown-toggle disable" data-toggle="dropdown" href="#">
				<i class="icon-print"></i> Imprimer
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">Complet</a></li>
				<li><a href="#">Client 1</a></li>
			</ul>
		</div>
		<div class="pull-right well well-small form-inline">
			<select data-ng-init="criterias.selected.year=criterias.years[criterias.selected.year.id-1]" data-ng-model="criterias.selected.year" data-ng-options="y.label for y in criterias.years" required="required"></select>
			<select data-ng-init="criterias.selected.month=criterias.months[criterias.selected.month.id-1]" data-ng-model="criterias.selected.month" data-ng-options="m.label for m in criterias.months" required="required"></select>
			<select data-ng-show="criterias.showEmployees">
				<option selected="selected">employee</option>
			</select>
			<button class="btn btn-small btn-primary" data-ng-click="search()">Recherche</button>
		</div>

	</nav>

</div>

